@model Employee

<div class="container">
    <table class="table table-striped">
        <tr>
            <td> Name</td>
            <td> @Model.Name</td>
        </tr>

        <tr>
            <td> Address</td>
            <td> @Model.Address</td>
        </tr>

        <tr>
            <td> Date of Birth</td>
            <td> @Model.DOB</td>
        </tr>
        <tr>
            <td>Roles</td>
            <td> @Model.Gender</td>
        </tr>
        <tr>
            <td>Created Date</td>
            <td> @Model.CreatedDate</td>
        </tr>


       
    </table>
</div>

@*<div class="container">
     <div class="post-body">
        @* // @Html.Raw(Model.MainComments)*@
   @* </div>
    <div class="comment-section">
        @{
            await Html.RenderPartialAsync("_MainComment", new DataAccessLayer.Entities.ViewModel.CommentViewModel { Id = Model.Id, MainCommentId = 0 });
        }
        @if (User.IsInRole("Admin"))
        {
            @foreach (var c in Model.MainComments)
            {
                <p> @c.Message  ----  @c.Created</p>
            }

</div>*@